<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CadenaConexion" connectionString="Server=172.0.0.49\dev;Database=CSF_CitasWeb;User Id=UsrCSF_CitasWeb;Password=CSF_CitasWeb;" providerName="System.Data.SqlClient"/>
    <!--<add name="CadenaConexion" connectionString="Server=172.0.0.49;Database=CSF_CitasWeb_Dev;User Id=UsrCSF_CitasWeb_Dev;Password=CSF_CitasWeb_Dev;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="SendURL" value="https://s08.ysocial.net/Sanna/services/messaging/sendwhatsapp"/>
    <add key="SendAutorizacion" value="Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3UiOjE3MDU5Mzc4NDQsImVpIjoyfQ.f76joqggWmRCMx6lyHMDycsR7oYYMVKkY-T_JhBp3hA"/>
    <add key="rutaLog" value="C:\\"/>
    <add key="Language" value="es"/>
    <add key="PrefijoTelefonico" value="51"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>