<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="_ConexionBD" providerName="SQLServer" connectionString="uid=UsrCSF_CitasWeb;pwd=CSF_CitasWeb;server=172.0.0.49\dev;database=CSF_CitasWeb;Connection Timeout=20000"/>
  </connectionStrings>
  <appSettings>
    <add key="_CorreoServidor" value="smtp.gmail.com"/>
    <add key="_CorreoPuerto" value="587"/>
    <add key="_CorreoDe" value="no-reply@softvan.com.pe" />
    <add key="_CorreoClave" value="gadtdeejljwjftjt" />
    <add key="_CorreoAliasNombre" value="Clínica San Felipe"/>
    <add key="_CorreoAliasCuenta" value="no-reply@softvan.com.pe"/>
    <add key="_CorreoHabilitarCuerpoHtml" value="true"/>
    <add key="_CorreoHabilitarSSL" value="true"/>
    <add key="_RutaLog" value="D:\Logs\" />
    <add key="_NombreLog" value="LogError" />
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>