<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CadenaConexion" connectionString="Server=172.0.0.49;Database=CSF_CitasWeb;User Id=UsrCSF_CitasWeb;Password=CSF_CitasWeb;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="rutaLog" value="C:\\"/>
    <add key="RutaEnv" value="D:\GITLAB_SOFTVAN\CSF_CITASWEB_WS-UPDATE_FIREBASE\Code\Dev.1.0\CSF.CITASWEB.WS\CSF.CITASWEB.WS.BatchNotificaciones\.env"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
